Flask
gunicorn
mysql-connector-python
psycopg2-binary
requests
python-dateutil
SQLAlchemy
pandas
PyMySQL
python-telegram-bot
numpy
bcrypt
certifi>=2024.7.4
email-validator>=2.1.0.post1
dnspython>=2.6.1
Jinja2>=3.1.4
python-dotenv>=1.0.1
bcrypt
